* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;

    min-height: 100vh;
    background: linear-gradient(135deg, #020617, #0f172a);

    display: flex;
    align-items: center;
    justify-content: center;

    color: #e2e8f0;
}

/* FUNDO */
.background {
    position: fixed;
    inset: 0;

    background:
        radial-gradient(circle at 20% 20%, #1d4ed840, transparent),
        radial-gradient(circle at 80% 80%, #2563eb30, transparent);

    z-index: -1;
}

/* CONTAINER CENTRAL */
.login-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CARD */
.login-card {
    width: 100%;
    max-width: 380px;

    background: rgba(255,255,255,0.04);
    backdrop-filter: blur(15px);

    border-radius: 20px;
    padding: 35px 28px;

    border: 1px solid rgba(255,255,255,0.08);
    box-shadow: 0 20px 60px rgba(0,0,0,0.6);

    text-align: center;
}

/* LOGO */
.logo {
    width: 60px;
    margin-bottom: 12px;
}

/* TITULO */
h1 {
    font-size: 22px;
    font-weight: 600;
}

/* SUBTITULO */
.subtitle {
    font-size: 13px;
    color: #94a3b8;
    margin-bottom: 20px;
}

/* INPUT */
.input-group {
    position: relative;
    margin-bottom: 16px;
}

.input-group input {
    width: 100%;
    padding: 13px;
    border-radius: 10px;

    border: 1px solid rgba(255,255,255,0.08);

    background: rgba(255,255,255,0.05);
    color: white;

    font-size: 14px;
    outline: none;

    transition: 0.2s;
}

.input-group input:focus {
    border-color: #3b82f6;
    box-shadow: 0 0 0 2px #3b82f640;
    background: rgba(255,255,255,0.08);
}

/* LABEL */
.input-group label {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);

    font-size: 12px;
    color: #94a3b8;

    transition: 0.2s;
    pointer-events: none;
}

.input-group input:focus + label,
.input-group input:not(:placeholder-shown) + label {
    top: -7px;
    font-size: 10px;
    color: #3b82f6;
}

/* BOTÃO PRINCIPAL */
.btn-primary {
    width: 100%;
    padding: 13px;

    border: none;
    border-radius: 10px;

    background: linear-gradient(135deg, #2563eb, #1d4ed8);
    color: white;

    font-size: 14px;
    font-weight: 500;

    cursor: pointer;

    transition: 0.2s;
}

.btn-primary:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 25px rgba(37,99,235,0.5);
}

.btn-primary:active {
    transform: scale(0.96);
}

/* BOTÃO SECUNDÁRIO */
.btn-secondary {
    margin-top: 10px;
    width: 100%;

    background: transparent;
    border: 1px solid rgba(255,255,255,0.15);

    color: #cbd5f5;

    padding: 11px;
    border-radius: 10px;

    cursor: pointer;
    transition: 0.2s;
}

.btn-secondary:hover {
    background: rgba(255,255,255,0.05);
}

/* TEXTO */
.legal {
    margin-top: 16px;
    font-size: 10px;
    color: #64748b;
}